<%= semantic_form_for @author, :html => { :class => "form-horizontal"} do |f| %>

  <fieldset>
    <legend>Author</legend>	    
		<%= f.inputs do %>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">First Name</label>
		    <div class="col-lg-10">
		      <%= f.input :first_name, :label => false, :input_html => { :value => current_user.is_publisher? || current_user.superadmin ? @author.first_name : current_user.first_name, :size => 30, :class => "form-control" } %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Last Name</label>
		    <div class="col-lg-10">
		      <%= f.input :last_name, :label => false, :input_html => { :value => current_user.is_publisher? || current_user.superadmin ? @author.last_name : current_user.last_name, :size => 30, :class => "form-control" } %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Email</label>
		    <div class="col-lg-10">
		      <%= f.input :email, :label => false, :input_html => { :value => current_user.is_publisher? || current_user.superadmin ? @author.email : current_user.email, :size => 30, :class => "form-control" } %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Phone</label>
		    <div class="col-lg-10">
		      <%= f.input :phone, :label => false, :input_html => { :size => 30, :class => "form-control" } %> 
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Address 1</label>
		    <div class="col-lg-10">
		      <%= f.input :address_1, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Address 2</label>
		    <div class="col-lg-10">
		      <%= f.input :address_2, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">City</label>
		    <div class="col-lg-10">
		      <%= f.input :city, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">State</label>
		    <div class="col-lg-10">
		      <%= f.input :state, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Postal Code</label>
		    <div class="col-lg-10">
		      <%= f.input :postal_code, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Country</label>
		    <div class="col-lg-10">
		      <%= f.input :country, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
	  	  <% if current_user.try(:superadmin?) %>
  		    <div class="form-group"> 
  		      <label for="name" class="col-lg-2 control-label">Publisher</label>
  		      <div class="col-lg-10">
  		        <%= f.input :publisher, :label => false, :input_html => { :class => "form-control"} %>
  		      </div>	
  		    </div>
		  <% else %>
		    <%= f.input :publisher_id, :as => :hidden, :value => current_user.publisher.id %>
		  <% end %>
		  <% if current_user.try(:superadmin?) || current_user.try(:admin?) %>	
		    <div class="form-group"> 
		      <label for="name" class="col-lg-2 control-label">User</label>
		      <div class="col-lg-10">
		        <%= f.input :user, :label => false, :collection => User.find(:all, :conditions => {:author => true}), :input_html => { :class => "form-control"} %>
		      </div>	
		    </div>
		  <% else %>	
			<%= f.input :user_id, :as => :hidden, :value => current_user.id %>
	  	  <% end %>
		  <% unless params[:questionnaire].nil? %>
		    <%= hidden_field_tag :questionnaire, params[:questionnaire] %>
		  <% end %>	
		  <% unless params[:publication].nil? %>
		    <%= hidden_field_tag :publication, params[:publication] %>
		  <% end %>
		<% end %>
		<%= f.actions do %>
		  <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
		<% end %>
  </fieldset>	
<% end %>  