<%= semantic_form_for @user, :html => { :class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend>User</legend>	    
		<%= f.inputs do %>
		  <% if current_user.try(:superadmin?) || current_user.try(:admin?) %>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">First Name</label>
		    <div class="col-lg-10">
		      <%= f.input :first_name, :input_html => { :size => 30, :class => "form-control" }, :label => false %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Last Name</label>
		    <div class="col-lg-10">
		      <%= f.input :last_name, :input_html => { :size => 30, :class => "form-control" }, :label => false %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Username</label>
		    <div class="col-lg-10">
		      <%= f.input :username, :input_html => { :size => 30, :class => "form-control" }, :label => false %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Email</label>
		    <div class="col-lg-10">
		      <%= f.input :email, :input_html => { :size => 30, :class => "form-control" }, :label => false %>
		    </div>	
		  </div>
	  	  <% end %>
	  	  <% if current_user.try(:superadmin?) %>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Assign Library: </label>
		    <div class="col-lg-10">
		      <%= f.input :library, :as => :select, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Assign Publisher: </label>
		    <div class="col-lg-10">
		      <%= f.input :publisher, :as => :select, :label => false, :input_html => { :class => "form-control"} %>
		    </div>	
		  </div>
		  <% elsif current_user.is_lib_admin? %>  
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Assign Library</label>
		    <div class="col-lg-10">
			  <%= f.input :library, :as => :string, :label => false, :input_html => { :value => current_user.library, :readonly => true, :class => "form-control" } %>
		    </div>	
		  </div>
		  <% elsif current_user.is_pub_admin? %>
		  <div class="form-group"> 
		    <label for="name" class="col-lg-2 control-label">Assign Publisher</label>
		    <div class="col-lg-10">
				<%= f.input :publisher, :as => :string, :label => false, :input_html => { :value => current_user.publisher, :readonly => true, :class => "form-control" } %>
		    </div>	
		  </div>
		  <% end %>
	  	  <% if current_user.try(:superadmin?) || current_user.try(:admin?) %>
	  	  <span id='admin_box'>
	  		<% if current_user.try(:superadmin?) %>
		      <div class="form-group"> 
		        <label for="name" class="col-lg-2 control-label">User Type</label>
		        <div class="col-lg-10">
				  <%= select_tag :user_type, options_for_select(User::SUPER_USER_TYPES, @user.user_type) %>  
		        </div>	
		      </div>
			<% else %>
  		      <div class="form-group"> 
  		        <label for="name" class="col-lg-2 control-label">User Type</label>
  		        <div class="col-lg-10">
  				  <%= select_tag :user_type, options_for_select(User::USER_TYPES, "Staff") %>  
  		        </div>	
  		      </div>
			<% end %>	
		  </span>
		  <% end %>
		<% end %>
		<%= f.actions do %>
		  <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
		<% end %>
  </fieldset>
<% end %>
