<h1>Users</h1>

<div>
  	<table id="users-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<% if current_user.superadmin? %>
		  <th>Superadmin?</th>
		  <th>Author?</th>
		<% end %>  
		<th>Admin?</th>
		<th>Staff?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @users.each do |user| %>	
	    <tr>
		  <td><%= user.first_name %></td>
		  <td><%= user.last_name %></td>
	  	  <td><%= user.email %></td>
		  <% if current_user.superadmin? %>
		    <td><%= user.superadmin ? "Yes" : "No" %></td> 
		    <td><%= user.is_author? ? "Yes" : "No" %></td>
		  <% end %>	
		  <td><%= user.admin ? "Yes" : "No" %></td>
		  <td><%= user.staff ? "Yes" : "No" %></td>
		  <td><%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
</div>
<%= will_paginate @users %>

<div>
	<h3>Unaffiliated Users</h3>
  	<table id="users-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<% if current_user.superadmin? %>
		  <th>Superadmin?</th>
		  <th>Author?</th>
		<% end %>  
		<th>Admin?</th>
		<th>Staff?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @unaffiliated.each do |user| %>	
	    <tr>
		  <td><%= user.first_name %></td>
		  <td><%= user.last_name %></td>
	  	  <td><%= user.email %></td>
		  <% if current_user.superadmin? %>
		    <td><%= user.superadmin ? "Yes" : "No" %></td> 
		    <td><%= user.is_author? ? "Yes" : "No" %></td>
		  <% end %>	
		  <td><%= user.admin ? "Yes" : "No" %></td>
		  <td><%= user.staff ? "Yes" : "No" %></td>
		  <td><%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
</div>
