<h1>Users</h1>
<div class="col-lg-12">
<h3>Admin</h3>
  <div class="table-responsive">
	<table id="users-admin-table" class="table table-striped table-hover tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<% if current_user.superadmin? %>
		  <th>Affiliation</th>
		<% end %>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @admin.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
  		  <% if current_user.superadmin? %>
		    <% if !user.publisher.nil? %>
			  <td><%= user.publisher.name %></td> 
		    <% elsif !user.library.nil? %>
		      <td><%= user.library.name %></td>
		    <% else %>
		      <td>Unaffiliated</td>		
			<% end %>  
  		  <% end %>
		  <td>
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-admin-table" } %>
  </div>
</div>

<div class="col-lg-12">
<h3>Staff</h3>
  <div class="table-responsive">
	<table id="users-staff-table" class="table table-striped table-hover tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<% if current_user.superadmin? %>
		  <th>Affiliation</th>
		<% end %>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @staff.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
  		  <% if current_user.superadmin? %>
		    <% if !user.publisher.nil? %>
			  <td><%= user.publisher.name %></td> 
		    <% elsif !user.library.nil? %>
		      <td><%= user.library.name %></td>
		    <% else %>
		      <td>Unaffiliated</td>		
			<% end %>  
  		  <% end %>
		  <td>
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-staff-table" } %>
  </div>
</div>

<div class="col-lg-12">
<h3>Authors</h3>
  <div class="table-responsive">
	<table id="users-authors-table" class="table table-striped table-hover tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<% if current_user.superadmin? %>
		  <th>Affiliation</th>
		<% end %>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @authors.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
  		  <% if current_user.superadmin? %>
		    <% if !user.publisher.nil? %>
			  <td><%= user.publisher.name %></td> 
		    <% elsif !user.library.nil? %>
		      <td><%= user.library.name %></td>
		    <% else %>
		      <td>Unaffiliated</td>		
			<% end %>  
  		  <% end %>
		  <td>
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-authors-table" } %>
  </div>
</div>

<div class="col-lg-12">
<h3>Unassociated Users</h3>
  <div class="table-responsive">
	<table id="users-unassociated-table" class="table table-striped table-hover tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<% if current_user.superadmin? %>
		  <th>Affiliation</th>
		<% end %>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @unassociated.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
  		  <% if current_user.superadmin? %>
		    <% if !user.publisher.nil? %>
			  <td><%= user.publisher.name %></td> 
		    <% elsif !user.library.nil? %>
		      <td><%= user.library.name %></td>
		    <% else %>
		      <td>Unaffiliated</td>		
			<% end %>  
  		  <% end %>
		  <td>
		  <% unless current_user.try(:superadmin?) %>
		    <%= link_to('Make Staff', make_staff_users_path(:id => user.id), :class => "action-edit") %> | 
		  <% end %>	
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>	 
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-unassociated-table" } %>
  </div>
</div>
<% if current_user.superadmin? %>
<div class="col-lg-12">
  <div class="table-responsive">
	<h3>Unaffiliated Users</h3>
	<table id="unaffiliated-users-table" class="table table-striped table-hover tablesorter">	
	<thead>
	  <tr>
		<th>Name</th>
		<% if current_user.superadmin? %>
		  <th>Superadmin?</th>
		  <th>Author?</th>
		<% end %>  
		<th>Admin?</th>
		<th>Staff?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @unaffiliated.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
		  <% if current_user.superadmin? %>
		    <td><%= user.superadmin ? "Yes" : "No" %></td> 
		    <td><%= user.is_author? ? "Yes" : "No" %></td>
		  <% end %>	
		  <td><%= user.admin ? "Yes" : "No" %></td>
		  <td><%= user.staff ? "Yes" : "No" %></td>
		  <td>
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "unaffiliated-users-table" } %>
  </div>
</div>

<div class="col-lg-12">
  <div class="table-responsive">
	<h3>All Superadmins</h3>
	<table id="superadmin-users-table" class="table table-striped table-hover tablesorter">	
	<thead>
	  <tr>
		<th>Name</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @superadmins.each do |user| %>	
	    <tr>
		  <td><%= user.full_name_email %></td>
		  <td>
		  <% if user != current_user %>	  
			 <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
		  <% end %>
	      <% if (current_user.try(:admin?) || current_user.try(:superadmin?)) && user != current_user && user.can_delete? %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
		  <% else %>
		     | <%= link_to 'Delete', "", :confirm => "This entity cannot be deleted until all associated responses have been exported by both the publisher and a library." %>	 
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "superadmin-users-table" } %>
  </div>
</div>
<% end %>

<% if current_user.is_pub_admin? %>
<div class="col-lg-12">
  <div class="table-responsive">
  <% if current_user.is_publisher? %>
    <h3>Bulk Create New Users</h3>
    <%= form_tag bulk_users_users_path, :method => :get do %>
    <p>
      <%= hidden_field_tag :publisher_id, current_user.publisher.id %>
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Email Addresses (comma separated): </label>
	    <div class="col-lg-10">
		  <%= text_area_tag 'new_emails', nil, :size => "50x10" %>
	    </div>	
	  </div>
      <br />
      <%= submit_tag "Create", :class => "btn btn-primary" %>
    </p>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<% if current_user.is_lib_admin? %>
<div class="col-lg-12">
  <div class="table-responsive">
  <% if current_user.is_librarian? %>
    <h3>Bulk Create New Users</h3>
    <%= form_tag bulk_users_users_path, :method => :get do %>
    <p>
      <%= hidden_field_tag :library_id, current_user.library.id %>
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Email Addresses (comma separated): </label>
	    <div class="col-lg-10">
		  <%= text_area_tag 'new_emails', nil, :size => "50x10" %>
	    </div>	
	  </div>
      <br />
      <%= submit_tag "Create", :class => "btn btn-primary" %>
    </p>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<% if current_user.superadmin %>
<div class="col-lg-12">
  <div class="table-responsive">
    <h3>Bulk Create New Users</h3>
    <%= form_tag bulk_users_users_path, :method => :get do %>
    <p>
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Email Addresses (comma separated): </label>
	    <div class="col-lg-10">
		  <%= text_area_tag 'new_emails', nil, :size => "50x10" %>
	    </div>	
	  </div>
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Affiliation: </label>
	    <div class="col-lg-10">
		  <%= radio_button_tag("affiliation", "Publisher", checked = false) %> Publisher <br />	
		  <%= radio_button_tag("affiliation", "Library", checked = false) %> Library <br /><br />
	    </div>	
	  </div>
	  <span id="lib_affiliation_dropdown">
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Assign Library: </label>
	    <div class="col-lg-10">
	      <%= select_tag :library_id, options_from_collection_for_select(Library.all, "id", "name"), :include_blank => true, :class => "form-control" %>
	    </div>	
	  </div>
      </span>
	  <span id="pub_affiliation_dropdown">
	  <div class="form-group"> 
	    <label for="name" class="col-lg-2 control-label">Assign Publisher: </label>
	    <div class="col-lg-10">
	      <%= select_tag :publisher_id, options_from_collection_for_select(Publisher.all, "id", "name"), :include_blank => true, :class => "form-control" %>
	    </div>	
	  </div>
      </span>
      <br /><br />
      <%= submit_tag "Create", :class => "btn btn-primary" %>
    </p>
    <% end %>
  </div>
</div>
<% end %>