<h1>Libraries</h1>

<div class="widget">
    <% if current_user.try(:superadmin?) %>
      <p><%= link_to("Add New Library", new_library_path ) %></p>
    <% end %>
  	<table id="libraries-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @libraries.each do |library| %>
	    	<tr>
	  	  <td><%= library.name %></td>
		  <td>
	      <% if current_user.try(:superadmin?) %>
	   		<%= link_to('Edit', edit_library_path(library), :class => "action-edit") %> | <%= link_to('Delete', library_path(library), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "libraries-table" } %>
</div>
