<div class="col-lg-12">
  <h1><%= @user.full_name %>'s Responses</h1>
  <br />
	<% @responses.each do |response| %>
	  <strong><%= raw response.form_item.display_text %></strong> 
	  <% if response.form_item.formtastic_field_map == "file" %>
  	    <%= link_to "View Upload", response.author_upload_url unless response.author_upload.blank? %>
	  <% else %>	
	    <%= response.response_text %> 
	  <% end %>
	  <% if current_user.is_pub_admin? %>
	     - <%= link_to('Edit', edit_response_path(response)) %>
	  <% end %>
	  <br /><br />
	<% end %>
</div>



