<h1>Responses</h1>

<div>
<% unless @response_hash.nil? %>	
  <% @response_hash.each_key do |questionnaire| %>
	<h2><%= questionnaire.name %></h2>
	<strong>Description:</strong> <%= questionnaire.description %><br />
	<strong>Version:</strong> <%= questionnaire.version %><br />
	<strong>Publisher:</strong> <%= questionnaire.publisher %><br />
	<br />
	  <% @response_hash[questionnaire].each_key do |user| %>
	  	<h3><%= link_to User.find(user).full_name, author_response_responses_path(:questionnaire => questionnaire, :user => user) %></h3>
		<!--
		<% @response_hash[questionnaire][user].each do |response| %>
		  <%= raw response.form_item.display_text %>: <%= response.response_text %> 
		
	      <% if current_user.try(:superadmin?) || current_user.is_pub_admin? %>
	   		<%= link_to('Edit', edit_response_path(response), :class => "action-edit") %> | <%= link_to('Delete', response_path(response), :confirm => "Are you sure you want to delete this response? This action cannot be undone.", :method => :delete) %>
	  	  <% end %>
		  <br />
		<% end %>
		-->	
	  <% end %>
  <% end %>
  <% if current_user.try(:superadmin?) || current_user.is_pub_admin? %>
    <%= link_to("Add New Response", new_response_path ) %>
  <% end %>
<% end %>  
</div>
