<h1>Responses</h1>

<div>
  <% @response_hash.each_key do |questionnaire| %>
	<h2><%= questionnaire.name %></h2>
	  <% @response_hash[questionnaire].each_key do |user| %>
	  	<h3><%= User.find(user).username %></h3>
		<table id="responses-table" class="table table-condensed tablesorter">
		<thead>
		  <tr>
			<th>Form Item</th>
			<th>Response</th>
			<th>Actions</th>
		  </tr>
		</thead> 
		<tbody>
		<% @response_hash[questionnaire][user].each do |response| %>
		<tr>
		  <td><%= response.form_item.display_text %></td>
		  <td><%= response.response_text %></td>
		  <td>
	      <% if current_user.try(:superadmin?) || current_user.is_pub_admin? %>
	   		<%= link_to('Edit', edit_response_path(response), :class => "action-edit") %> | <%= link_to('Delete', response_path(response), :confirm => "Are you sure you want to delete this response? This action cannot be undone.", :method => :delete) %> | <%= link_to('View', response_path(response), :class => "action-edit") %>
	  	  <% end %>
		  </td>
	    </tr>
		<% end %>
	  </tbody>	
	  </table>
	  <% end %>
  <% end %>
  <% if current_user.try(:superadmin?) || current_user.is_pub_admin? %>
    <%= link_to("Add New Response", new_response_path ) %>
  <% end %>
</div>
