<div class="col-lg-12">
  <h2>Send Questionnaire</h2>
  <div class="row">
    <div class="well">
	  <%= form_tag send_questionnaire_questionnaires_path, :method => :get do %>
	    <fieldset>
	      <legend>Select or Add Authors</legend>
	    <% @authors.each do |author| %>
	    <div class="form-group"> 
	      <label for="name" class="col-lg-2 control-label"></label>
	      <div class="col-lg-10">
	        <%= check_box_tag("emails[]", author.email, false, :class => 'check') %> <%= author.email %>
	      </div>	
	    </div>
	    <% end %>
		<br /><br /><br /><br />
	    <%= hidden_field_tag :publisher_id, @questionnaire.publisher.id %>
	    <%= hidden_field_tag :questionnaire_id, @questionnaire.id %>	
	    <div class="form-group"> 
	      <label for="name" class="col-lg-2 control-label">Enter email addresses for new authors, separated by commas:</label>
	      <div class="col-lg-10">
	        <%= text_area_tag 'more_emails', nil, :size => "50x10", :class => "form-control" %>
	      </div>	
	    </div>
	    <%= submit_tag "Send", :class => 'btn btn-primary' %>

	  <% end %>
    </div>
  </div>	
</div>


