<h2>Send Questionnaire</h2>

<%= form_tag send_questionnaire_questionnaires_path, :method => :get do %>
<p>
  <%= hidden_field_tag :publisher_id, @questionnaire.publisher.id %>
  <%= hidden_field_tag :questionnaire_id, @questionnaire.id %>	
  <% @authors.each do |author| %>
    <%= check_box_tag("emails[]", author.email, false, :class => 'check') %> <%= author.email %><br />
  <% end %>
  <br />
  Additional Emails (comma separated):<br />
  <%= text_area_tag 'more_emails', nil, :size => "50x10" %>
  <br />
  <%= submit_tag "Send" %>
</p>
<% end %>