<h2>Edit <%= @questionnaire.name %></h2>

<div id="welcome-left">
  <%= render :partial => 'shared/forms/questionnaire' %>
</div>

<div id="welcome-right">
    <h4>Auto-Included Library Required Fields</h4>
    <% unless @lib_req.nil? || @lib_req.empty? %>
      <% @lib_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>	
  
    <h4>Auto-Included Publisher Required Fields</h4>
    <% unless @pub_req.nil? || @pub_req.empty? %>
      <% @pub_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>	 	
	
  <hr>
	
  <% if current_user.is_pub_admin? || current_user.is_pub_staff? %>
	<h4>Sort Order</h4>
	<%= semantic_form_for :sort_items, :html => { :method => :get } do |f| %>
      <% @questionnaire.form_items.each do |item| %>
	    <%= f.inputs do %>
	      Position <%= FormItemsQuestionnaires.first(:conditions => {:form_item_id => item.id, :questionnaire_id => @questionnaire.id }).form_item_position %> - <%= word_wrap(item.display_text, :line_width => 56).html_safe %> <%= f.input item.field_name, :as => :select, :collection => (1..@questionnaire.form_items.count).to_a, :label => '', :selected => FormItemsQuestionnaires.first(:conditions => {:form_item_id => item.id, :questionnaire_id => @questionnaire.id }).form_item_position.nil? ? '' : FormItemsQuestionnaires.first(:conditions => {:form_item_id => item.id, :questionnaire_id => @questionnaire.id }).form_item_position %>
		<% end %> 
		
      <% end %>
  	  <%= f.actions do %>
  	    <%= f.action :submit, :as => :button, :label => 'Submit Item Order ' %>
  	  <% end %> 
	<% end %>
 <% end %>
</div>