<h2>Edit <%= @questionnaire.name %></h2>

<div id="welcome-left">
  <div class="col-lg-12">
    <div class="row">
      <div class="well">
  	  <%= render :partial => 'shared/forms/questionnaire' %>
      </div>
    </div>	
  </div>	
</div>

<div id="welcome-right">
    <h4>Auto-Included Library Required Fields</h4>
    <% unless @lib_req.nil? || @lib_req.empty? %>
      <% @lib_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>	
  
    <h4>Auto-Included Publisher Required Fields</h4>
    <% unless @pub_req.nil? || @pub_req.empty? %>
      <% @pub_req.each do |fi| %>
        <%= fi.field_name %>
      <% end %>	
    <% else %>
      None.
    <% end %>	 	
	
  <hr>
	
  <% if current_user.is_publisher? %>
	<h4>Sort Order</h4>
	<%= semantic_form_for :sort_items, :html => { :method => :get, :class => "form-horizontal" } do |f| %>
	  <fieldset>
	    <legend></legend>	
		  <% @questionnaire.form_items.each do |item| %>    
			<%= f.inputs do %>
			  <div class="form-group"> 
			    <label for="name" class="col-lg-2 control-label">Set Position: <%= f.input item.field_name, :as => :select, :collection => (1..@questionnaire.form_items.count).to_a, :label => false, :selected => FormItemsQuestionnaires.first(:conditions => {:form_item_id => item.id, :questionnaire_id => @questionnaire.id }).form_item_position.nil? ? '' : FormItemsQuestionnaires.first(:conditions => {:form_item_id => item.id, :questionnaire_id => @questionnaire.id }).form_item_position %></label>
			    <div class="col-lg-10">
		          <%= word_wrap(item.display_text, :line_width => 56).html_safe %>
			    </div>	
			  </div>
			<% end %>
		  <% end %>	
		<%= f.actions do %>
		  <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
		<% end %>  
	  </fieldset>
	<% end %>  
 <% end %>
</div>