<h3>Viewing: <%= @questionnaire.name %></h3>


<div>
	<% unless @questionnaire.publisher.logo_url.nil? %>
	  <%= image_tag @questionnaire.publisher.logo_url.to_s, size: "200x200", alt: "Publisher Logo" %><br />
	<% end %>
	<strong>Description:</strong> <%= @questionnaire.description %><br />
	<strong>Version:</strong> <%= @questionnaire.version %><br />
	<strong>Publisher:</strong> <%= @questionnaire.publisher %><br />
	<br />
	<strong>Form Items:</strong><br />
	<br />
	
	<%= semantic_form_for :gather_response, :html => { :method => :get } do |f| %>
	  <%= f.inputs do %>
	    <% @questionnaire.form_items.each do |item| %>
		  <% if item.field_type == "Label" %>
		    <p><%= raw item.display_text %></p>
		  <% else %>
		    <%= f.semantic_fields_for "#{item.field_name}", :html => { :method => :get } do |fi| %>
			  <%= fi.input :response_text, :as => item.formtastic_field_map, :label => item.display_text.html_safe, :collection => item.field_options.nil? ? '' : item.field_options.split(',') %>
			  <%= fi.input :form_item_id, :as => :hidden, :value => item.id %>
			  <%= fi.input :questionnaire_id, :as => :hidden, :value => @questionnaire.id %>
	  	      <% if current_user.try(:admin?) && !@user.nil? %>
	  	        <%= fi.input :user_id, :as => :hidden, :value => @user %>
	  	      <% else %>
			    <%= fi.input :user_id, :as => :hidden, :value => current_user.id %>
			  <% end %>
			<% end %>  
		  <% end %>
	    <% end %>
	  <% end %>
  	  <%= f.actions do %>
  	    <%= f.action :submit, :as => :button, :label => 'Submit Response ' %>
  	  <% end %>
	  
	<% end %>
</div>