<h3>Viewing: <%= @questionnaire.name %></h3>


<div>
	<% unless @questionnaire.publisher.logo_url.nil? %>
	  <%= image_tag @questionnaire.publisher.logo_url.to_s, size: "200x200", alt: "Publisher Logo" %><br />
	<% end %>
	<strong>Description:</strong> <%= @questionnaire.description %><br />
	<strong>Version:</strong> <%= @questionnaire.version %><br />
	<strong>Publisher:</strong> <%= @questionnaire.publisher %><br />
	<br />
	
	<%= semantic_form_for :gather_response, :url => gather_response_questionnaires_path, :html => { :method => :post, :class => "form-horizontal" } do |f| %>
	  <fieldset>
	    <legend></legend>	    
			<%= f.inputs do %>
	  	      <% @questionnaire.form_items.each do |item| %>
	  		    <% if item.field_type == "Label" %>
		        <div class="form-group"> 
		          <label for="name" class="col-lg-2 control-label"></label>
		          <div class="col-lg-10">
	  		        <p><%= raw item.display_text %></p>
		          </div>	
		        </div>	
	  		    <% else %>
	  		      <%= f.semantic_fields_for "#{item.field_name}", :html => { :method => :get } do |fi| %>
			        <div class="form-group"> 
			          <label for="name" class="col-lg-2 control-label"><%= raw item.display_text.html_safe %></label>
			          <div class="col-lg-10">
						  <% if item.formtastic_field_map == "radio" || item.formtastic_field_map == "check_boxes" || item.formtastic_field_map ==  "select" %>
						    <% unless item.field_options.nil? %>
							  <% new_collection = Array.new %>
							  <% item.field_options.split(',').each do |option| %>
							    <% if !@gather_response.nil? && @gather_response["#{item.field_name}"]["response_text"].include?(option) %>
								  <% if item.formtastic_field_map == "select" %>
								    <% new_collection << ["#{option}", "#{option}", {:selected => "selected"}] %>
								  <% else %>	
							        <% new_collection << ["#{option}", "#{option}", {:checked => "checked"}] %>
								  <% end %>	
								<% else %>
								  <% new_collection << ["#{option}", "#{option}"] %>  
								<% end %>  
							  <% end %>	
							<% end %>
						    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :collection => item.field_options.nil? ? '' : new_collection %>	
						  <% else %>
						    <% if item.formtastic_field_map ==  "date_select" %>
						      <%= fi.input :response_text, :as => :date_picker, :label => false, :input_html => { :class => "form-control" }, :start_year => Time.now.year - 25, :end_year => Time.now.year + 10 %>	
							<% else %>
							  <% if FormItem::AUTHOR_INFO.include?(item.field_name) && !@user.nil? %>
							    <% unless @user.find_profile(@user.publisher).nil? %>
							      <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :input_html => { :class => "form-control", :value => @gather_response.nil? ? item.author_profile_map(@user.find_profile(@user.publisher)) : @gather_response["#{item.field_name}"]["response_text"]} %>	
								<% else %>
								  <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :input_html => { :class => "form-control", :value => @gather_response.nil? ? "" : @gather_response["#{item.field_name}"]["response_text"]} %>  
								<% end %>  
							  <% else %>
							    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :input_html => { :class => "form-control", :value => @gather_response.nil? ? "" : @gather_response["#{item.field_name}"]["response_text"]} %>	
							  <% end %>		
							<% end %>    
						  <% end %>

			          </div>	
			        </div>
					<% unless @publication.nil? %>
					  <%= fi.input :publication_id, :as => :hidden, :value => @publication.id %>
					<% end %>  
	  			    <%= fi.input :form_item_id, :as => :hidden, :value => item.id %>
	  			    <%= fi.input :questionnaire_id, :as => :hidden, :value => @questionnaire.id %>
	  	  	        <% unless @user.nil? %>
	  	  	          <%= fi.input :user_id, :as => :hidden, :value => @user.id %>
	  	  	        <% else %>
	  			      <%= fi.input :user_id, :as => :hidden, :value => current_user.id %>
	  			    <% end %>
	  			  <% end %>  
	  		    <% end %>
	  	      <% end %>		
			<% end %>
			<% if !@user.nil? && !@viewing %>
			  <%= f.actions do %>
			    <%= f.action :submit, :as => :button, :label => "Submit Responses", :button_html => { :class => "btn btn-primary"} %>
			  <% end %>
			<% end %>
	  </fieldset>
	<% end %>
</div>