<h1>Form Items</h1>

<% unless @form_items.nil? %>
<div>
	<h3>Global</h3>
  	<table id="form_items-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Field Name</th>
		<th>Display Text</th>
		<th>Field Type</th>
		<th>Field Options</th>
		<th>Required?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @form_items.each do |form_item| %>
	    	<tr>
	  	  <td><%= form_item.field_name %></td>
		  <td><%= raw form_item.display_text %></td>
		  <td><%= form_item.field_type %></td>
		  <td><%= form_item.field_options %></td>
		  <td><%= form_item.required %></td>
		  <td>
	      <% if current_user.try(:superadmin?) %>
	   		<%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Edit', edit_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Delete', form_item_path(form_item), :confirm => "Are you sure?", :method => :delete) %>
		  <% elsif current_user.is_pub_admin? %>
			<%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Clone', new_form_item_path(:clone => form_item.id), :class => "action-edit") %>
		  <% else %>
		    <%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %>	
		  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  
  <% if current_user.try(:superadmin?) %>
    <%= link_to("Add New Form Item", new_form_item_path ) %>
  <% end %>
</div>
<% end %>

<% unless @your_form_items.nil? %>
<div>
	<h3>Ours</h3>
  	<table id="form_items-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Field Name</th>
		<th>Display Text</th>
		<th>Field Type</th>
		<th>Field Options</th>
		<th>Required?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @your_form_items.each do |form_item| %>
	    	<tr>
	  	  <td><%= form_item.field_name %></td>
		  <td><%= raw form_item.display_text %></td>
		  <td><%= form_item.field_type %></td>
		  <td><%= form_item.field_options %></td>
		  <td><%= form_item.required %></td>
		  <td>
			  <%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %>
		  <% if current_user.is_pub_admin? %>	  
	      <% 
		    @questionnaire_ids = Array.new
	        FormItemsQuestionnaires.all(:conditions => {:form_item_id => form_item.id}).collect{|fiq| @questionnaire_ids << fiq.questionnaire_id}
	        unless @questionnaire_ids.nil?
	          @questionnaires = Questionnaire.find(@questionnaire_ids)
	        end
		  %>
	   		 | <%= link_to('Edit', edit_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Clone', new_form_item_path(:clone => form_item.id), :class => "action-edit") %> | <%= link_to('Delete', form_item_path(form_item), :confirm => "Note that #{@questionnaires.length} questionnaires are using this form item. Are you sure you want to delete it everywhere?", :method => :delete) %>
		  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  
  <% if current_user.is_pub_admin? %>
    <%= link_to("Add New Form Item", new_form_item_path ) %>
  <% end %>
</div>
<% end %>