<h1>Form Items</h1>
<div class="col-lg-12">
<% unless @form_items.nil? %>
<div class="table-responsive">
	<h3>Global</h3>
    <% if current_user.try(:superadmin?) %>
      <p><%= link_to("Add New Form Item", new_form_item_path ) %> <br />
  	  <%= link_to("Batch Upload", batch_upload_form_items_path ) %></p>
    <% end %>
  	<table id="form_items-table" class="table table-striped table-hover tablesorter">
	<thead>
	  <tr>
		<th>Field Name</th>
		<th>Display Text</th>
		<th>Field Type</th>
		<th>Group</th>
		<th>Required?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @form_items.each do |form_item| %>
	    <tr>
	  	  <td><%= form_item.field_name %></td>
		  <td><%= truncate(form_item.display_text.html_safe) %></td>
		  <td><%= form_item.field_type %></td>
		  <% unless form_item.form_item_group.nil? %>
		    <td><%= form_item.form_item_group.name %></td>
		  <% else %>
		    <td>None</td>
		  <% end %>	
		  <td><%= form_item.required %></td>
		  <td>
	      <% if current_user.try(:superadmin?) %>
	   		<%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Edit', edit_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Delete', form_item_path(form_item), :confirm => "Are you sure?", :method => :delete) %>
		  <% elsif current_user.is_pub_admin? %>
			<%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Clone', new_form_item_path(:clone => form_item.id), :class => "action-edit") %>
		  <% else %>
		    <%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %>	
		  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "form_items-table" } %>
</div>
<% end %>
</div>
<div class="col-lg-12">
<% unless @your_form_items.nil? %>
<div class="table-responsive">
	<h3>Ours</h3>
    <% if current_user.is_pub_admin? %>
      <p><%= link_to("Add New Form Item", new_form_item_path ) %></p>
    <% end %>
	<table id="form_items_ours-table" class="table table-striped table-hover tablesorter">	
	<thead>
	  <tr>
		<th>Field Name</th>
		<th>Display Text</th>
		<th>Field Type</th>
		<th>Group</th>
		<th>Required?</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @your_form_items.each do |form_item| %>
	    <tr>
	  	  <td><%= form_item.field_name %></td>
		  <td><%= truncate(form_item.display_text.html_safe) %></td>
		  <td><%= form_item.field_type %></td>
		  <% unless form_item.form_item_group.nil? %>
		    <td><%= form_item.form_item_group.name %></td>
		  <% else %>
		    <td>None</td>	
		  <% end %>
		  <td><%= form_item.required %></td>
		  <td>
			  <%= link_to('View Field', view_field_form_item_path(form_item), :class => "action-edit") %>
		  <% if current_user.is_pub_admin? %>	  
	      <% 
		    @questionnaire_ids = Array.new
	        FormItemsQuestionnaires.all(:conditions => {:form_item_id => form_item.id}).collect{|fiq| @questionnaire_ids << fiq.questionnaire_id}
	        unless @questionnaire_ids.nil?
	          @questionnaires = Questionnaire.find(@questionnaire_ids)
	        end
		  %>
	   		 | <%= link_to('Edit', edit_form_item_path(form_item), :class => "action-edit") %> | <%= link_to('Clone', new_form_item_path(:clone => form_item.id), :class => "action-edit") %> | <%= link_to('Delete', form_item_path(form_item), :confirm => "Note that #{@questionnaires.length} questionnaires are using this form item. Are you sure you want to delete it everywhere?", :method => :delete) %>
		  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "form_items_ours-table" } %>
</div>	
<% end %>
</div>
<div class="col-lg-12">
<% unless @your_groups.nil? %>
<div class="table-responsive">
	<h3>Our Groups</h3>
	<table id="groups_ours-table" class="table table-striped table-hover tablesorter">	
	<thead>
	  <tr>
		<th>Group Name</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @your_groups.each do |group| %>
	    <tr>
	  	  <td><%= group.name %></td>
		  <td>
		  <% if current_user.is_pub_admin? || current_user.superadmin %>	  
	        <% 
		      @questionnaire_ids = Array.new
	          group.questionnaires.collect{|q| @questionnaire_ids << q.id}
	          unless @questionnaire_ids.nil?
	            @questionnaires = Questionnaire.find(@questionnaire_ids)
	          end
		    %>
	   		<%= link_to('Delete', form_item_group_path(group), :confirm => "Note that #{@questionnaires.length} questionnaires are using this group. Are you sure you want to delete it everywhere?", :method => :delete) %>
		  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "groups_ours-table" } %>
</div>	
<% end %>
</div>