<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
	  <%= link_to (image_tag "oaq_application_logo.gif"), root_path, :class => 'navbar-brand' %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
	<% unless current_user.nil? %>
	  <% if current_user.user_type == "Superadmin" %>
	    <div style="float: right;" class = 'navbar-brand'>Affiliation: OAQ Admin</div>
	  <% else %>
	    <% if current_user.user_type == "Unassigned" && current_user.affiliation != "Unaffiliated" %>
	      <div style="float: right;" class = 'navbar-brand'>Affiliation: <%= current_user.affiliation %> Staff, Awaiting Approval</div>
		<% else %>
		  <div style="float: right;" class = 'navbar-brand'>Affiliation: <%= current_user.affiliation %> <%= current_user.user_type %></div>
		<% end %>    
	  <% end %>
	<% end %>  
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
