<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Author Names" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Author Names" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
      <%= render 'layouts/navigation' %>
    
    <div class="container">
      <div class="page-header" id="banner">
		  <div class="row">
	        <%= render 'layouts/messages' %>
	        <%= yield %>
		  </div>	  
      </div>
    
	  <footer>
	    <div class="row">
	          <div class="col-lg-12">
                <%= render 'layouts/footer' %>
	          </div>
	        </div>
        
	  </footer>
	</div>
  </body>
</html>
